
body{
    display: inline;
	align-items: center;
	background: navy;
	
}
.head {
    position: relative;
	top: 40px;

}

.header {
    display: flex;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	align-items: center;
	color: white;
	position: absolute;
	right: 50%;
	top: 50%;
	font-size: 250%;
}
.play-parent{
    display: flex;
    
}
.play {
    align-items: center;
	padding: 20px;
    border:5px double black;
  	padding: 12px 36px;
	margin: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,#b85555,#fc5555);
}
.directions{
	display: none;
	color: white;
	height: 350px;
	width: 450px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.QandA{
	font-weight: 600;
	font-size: large;
	color: white;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#end{
	display: none
}
#score{
	font-weight: 600;
	position: relative;
	left: 0%;
	bottom: 30%;
	color: white;
}

#rules{
	position: fixed;
	right: 0%;
	bottom: 30%;
	padding: 12px 36px;
	margin: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,#c89d01,#fc5555);
}
#quit{
	display: none;
	position: fixed;
	left: 0%;
	bottom: 30%;
	padding: 12px 36px;
	margin: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,#c80101,#fc5555);
}
